.email-error {
  display: none;
  color: rgb(205, 92, 92);
  font-weight: 500;
}
.year-error {
  display: none;
  color: rgb(205, 92, 92);
  font-weight: 500;
}
.name-error {
  display: none;
  color: rgb(205, 92, 92);
  font-weight: 500;
}
.ID-error {
  display: none;
  color: rgb(205, 92, 92);
  font-weight: 500;
}
.type-error {
  display: none;
  color: rgb(205, 92, 92);
  font-weight: 500;
}
.time {
  background-color: red;
  display: none;
}
.inputfield {
  display: none;
}
